.mainWrapper{
  display: flex;
  width: 100%;
}

.mainsidebar {
  width: 170px;
}

.mainsidebar.collapsed {
  width: 50px;
}
.contentsWrapper {
  /* width: calc(100% - 170px); */
  flex: 1;
}

.contentsWrapper.collapsed {
  width: calc(100% - 50px); 
}

.restmainrealcontents {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}